*.json
*.egg-info
*.log
*.txt
.aiexclude

## IDE confs
.gemini/
.vscode/

## Python folders
build/
.venv/
*__pycache__/
.pytest_cache/

## Workflow folders
plans_done/
plans_ongoing/
plans_pending/
issues_known/
issues_solved/